name: Action Linting
on:
  pull_request:
    branches:
      - "main"
    paths:
      - ".github/workflows/**"

permissions: 
  contents: read

jobs:
  actionlint:
    name: Action Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download actionlint
        id: get_actionlint
        run: bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
        shell: bash
      - name: Check workflow files
        run: ${{ steps.get_actionlint.outputs.executable }} -color
        shell: bash
